{% extends 'EndroidCalendarScrumBundle::layout.html.twig' %}

{% block content %}

    {% set sprint = sprintDefinition.sprint %}

    <div id="chartContainer" style="height: 400px; width: 100%;"></div>

    <br />

    <table class="table table-striped table-bordered">
        <tr>
            <th><strong>Date</strong></th>
            <th><strong>User story</strong></th>
            <th><strong>Story points</strong></th>
        </tr>
        {% for userStory in sprint.userStories %}
            {% if userStory.date.format('U') >= '-1 day'|date('U') %}
            <tr>
                <td>{{ userStory.date|date('Y-m-d') }}</td>
                <td>{{ userStory.label }}</td>
                <td>{{ userStory.storyPoints }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <script src="/bundles/endroidcalendarscrum/js/canvasjs.min.js"></script>

    <script type="text/javascript">
        window.onload = function() {
            let chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "{{ sprintDefinition.label }}",
                    margin: 0
                },
                toolTip: {
                    shared: true
                },
                axisX: {
                    valueFormatString: "D-MMM",
                    interval: {{ sprint.dayCount / 10 }},
                    intervalType: "day"
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
                data: [
                    {
                        type: "stackedArea",
                        name: "Story points",
                        showInLegend: "false",
                        dataPoints: [
                            {% set max = 0 %}
                            {% set cumulative = 0 %}
                            {% for date, userStories in sprint.userStoriesByDay %}
                                {% set tooltip = userStories|keys|join('<br />') %}
                                {% set dayCumulative = 0 %}
                                {% for storyPoints in userStories %}
                                    {% set dayCumulative = dayCumulative + storyPoints %}
                                {% endfor %}
                                {% set cumulative = cumulative + dayCumulative %}
                                {% set max = max(max, cumulative) %}

                                {x: new Date('{{ date }}'), y: {{ cumulative }}, indexLabelOrientation: 'vertical', indexLabel: "{% if date == 'now'|date('Y-m-d') %}Today{% endif %}", toolTipContent: "{{ tooltip|raw }}" }{% if not loop.last %},{% endif %}
                            {% endfor %}
                        ]
                    }
                ],
                axisY: {
                    maximum: {{ max + 10 }},
                    interval: {{ (max / 10)|round(0, 'ceil') }}
                },
            });

            chart.render();
        }
    </script>

{% endblock %}
